body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square{
    width: 10em;
    height: 10em;
    background-color: rgb(137, 60, 175);
}